In [1]:
# artık elimizde birden fazla bağımsız değer var

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
veriler = pd.read_csv('veriler.csv')

In [5]:
veriler.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [8]:
c = veriler.iloc[:,-1:].values
c

array([['e'],
       ['e'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['e'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['k'],
       ['k']], dtype=object)

In [9]:
type(x)

numpy.ndarray

In [12]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

c[:,-1] = le.fit_transform(veriler.iloc[:,-1])

print(c)

[[0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]]

In [13]:
sonuc3 = pd.DataFrame(data = c[:,0], index = range(22), columns = ['cinsiyet'])
print(sonuc3)

   cinsiyet
0         0
1         0
2         1
3         1
4         0
5         0
6         0
7         0
8         1
9         0
10        1
11        1
12        1
13        1
14        1
15        0
16        0
17        0
18        0
19        1
20        1
21        1

In [15]:
type(sonuc3)

pandas.core.frame.DataFrame

In [20]:
ulke = veriler.iloc[:,0:1].values
print(ulke)

[['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['tr']
 ['us']
 ['us']
 ['us']
 ['us']
 ['us']
 ['us']
 ['fr']
 ['fr']
 ['fr']
 ['fr']
 ['fr']
 ['fr']
 ['fr']]

In [22]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

ulke[:,0] = le.fit_transform(veriler.iloc[:,0])

print(ulke)

[[1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]

In [23]:
ohe = preprocessing.OneHotEncoder()
ulke = ohe.fit_transform(ulke).toarray()
print(ulke)

[[0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]]

In [24]:
type(ulke)

numpy.ndarray

In [25]:
sonuc = pd.DataFrame(data=ulke, index = range(22), columns = ['fr','tr','us'])
print(sonuc)

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [26]:
type(sonuc)

pandas.core.frame.DataFrame

In [28]:
boykiloyas = veriler.iloc[:,1:4].values
print(boykiloyas)

[[130  30  10]
 [125  36  11]
 [135  34  10]
 [133  30   9]
 [129  38  12]
 [180  90  30]
 [190  80  25]
 [175  90  35]
 [177  60  22]
 [185 105  33]
 [165  55  27]
 [155  50  44]
 [160  58  39]
 [162  59  41]
 [167  62  55]
 [174  70  47]
 [193  90  23]
 [187  80  27]
 [183  88  28]
 [159  40  29]
 [164  66  32]
 [166  56  42]]

In [29]:
type(boykiloyas)

numpy.ndarray

In [30]:
sonuc2 = pd.DataFrame(data=boykiloyas, index = range(22), columns = ['boy','kilo','yas'])
print(sonuc2)

    boy  kilo  yas
0   130    30   10
1   125    36   11
2   135    34   10
3   133    30    9
4   129    38   12
5   180    90   30
6   190    80   25
7   175    90   35
8   177    60   22
9   185   105   33
10  165    55   27
11  155    50   44
12  160    58   39
13  162    59   41
14  167    62   55
15  174    70   47
16  193    90   23
17  187    80   27
18  183    88   28
19  159    40   29
20  164    66   32
21  166    56   42

In [31]:
s=pd.concat([sonuc,sonuc2], axis=1)
print(s)

     fr   tr   us  boy  kilo  yas
0   0.0  1.0  0.0  130    30   10
1   0.0  1.0  0.0  125    36   11
2   0.0  1.0  0.0  135    34   10
3   0.0  1.0  0.0  133    30    9
4   0.0  1.0  0.0  129    38   12
5   0.0  1.0  0.0  180    90   30
6   0.0  1.0  0.0  190    80   25
7   0.0  1.0  0.0  175    90   35
8   0.0  1.0  0.0  177    60   22
9   0.0  0.0  1.0  185   105   33
10  0.0  0.0  1.0  165    55   27
11  0.0  0.0  1.0  155    50   44
12  0.0  0.0  1.0  160    58   39
13  0.0  0.0  1.0  162    59   41
14  0.0  0.0  1.0  167    62   55
15  1.0  0.0  0.0  174    70   47
16  1.0  0.0  0.0  193    90   23
17  1.0  0.0  0.0  187    80   27
18  1.0  0.0  0.0  183    88   28
19  1.0  0.0  0.0  159    40   29
20  1.0  0.0  0.0  164    66   32
21  1.0  0.0  0.0  166    56   42

In [32]:
s2=pd.concat([s,sonuc3], axis=1)
print(s2)

     fr   tr   us  boy  kilo  yas cinsiyet
0   0.0  1.0  0.0  130    30   10        0
1   0.0  1.0  0.0  125    36   11        0
2   0.0  1.0  0.0  135    34   10        1
3   0.0  1.0  0.0  133    30    9        1
4   0.0  1.0  0.0  129    38   12        0
5   0.0  1.0  0.0  180    90   30        0
6   0.0  1.0  0.0  190    80   25        0
7   0.0  1.0  0.0  175    90   35        0
8   0.0  1.0  0.0  177    60   22        1
9   0.0  0.0  1.0  185   105   33        0
10  0.0  0.0  1.0  165    55   27        1
11  0.0  0.0  1.0  155    50   44        1
12  0.0  0.0  1.0  160    58   39        1
13  0.0  0.0  1.0  162    59   41        1
14  0.0  0.0  1.0  167    62   55        1
15  1.0  0.0  0.0  174    70   47        0
16  1.0  0.0  0.0  193    90   23        0
17  1.0  0.0  0.0  187    80   27        0
18  1.0  0.0  0.0  183    88   28        0
19  1.0  0.0  0.0  159    40   29        1
20  1.0  0.0  0.0  164    66   32        1
21  1.0  0.0  0.0  166    56   42        1

In [33]:
type(s2)

pandas.core.frame.DataFrame

In [34]:
from sklearn.model_selection import train_test_split

x_train, x_test,y_train,y_test = train_test_split(s,sonuc3,test_size=0.33, random_state=0)

In [35]:
x_train

     fr   tr   us  boy  kilo  yas
8   0.0  1.0  0.0  177    60   22
6   0.0  1.0  0.0  190    80   25
16  1.0  0.0  0.0  193    90   23
4   0.0  1.0  0.0  129    38   12
2   0.0  1.0  0.0  135    34   10
5   0.0  1.0  0.0  180    90   30
17  1.0  0.0  0.0  187    80   27
9   0.0  0.0  1.0  185   105   33
7   0.0  1.0  0.0  175    90   35
18  1.0  0.0  0.0  183    88   28
3   0.0  1.0  0.0  133    30    9
0   0.0  1.0  0.0  130    30   10
15  1.0  0.0  0.0  174    70   47
12  0.0  0.0  1.0  160    58   39

In [36]:
y_train

   cinsiyet
8         1
6         0
16        0
4         0
2         1
5         0
17        0
9         0
7         0
18        0
3         1
0         0
15        0
12        1

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
regressor=LinearRegression()

In [40]:
regressor.fit(x_train,y_train)

LinearRegression()

In [41]:
y_pred=regressor.predict(x_test)

In [42]:
y_pred

array([[0.01279796],
       [1.12036863],
       [0.94990297],
       [0.92862582],
       [0.27526065],
       [0.35384956],
       [1.03567453],
       [0.67387829]])

In [43]:
y_test

   cinsiyet
20        1
10        1
14        1
13        1
1         0
21        1
11        1
19        1

In [44]:
s2

     fr   tr   us  boy  kilo  yas cinsiyet
0   0.0  1.0  0.0  130    30   10        0
1   0.0  1.0  0.0  125    36   11        0
2   0.0  1.0  0.0  135    34   10        1
3   0.0  1.0  0.0  133    30    9        1
4   0.0  1.0  0.0  129    38   12        0
5   0.0  1.0  0.0  180    90   30        0
6   0.0  1.0  0.0  190    80   25        0
7   0.0  1.0  0.0  175    90   35        0
8   0.0  1.0  0.0  177    60   22        1
9   0.0  0.0  1.0  185   105   33        0
10  0.0  0.0  1.0  165    55   27        1
11  0.0  0.0  1.0  155    50   44        1
12  0.0  0.0  1.0  160    58   39        1
13  0.0  0.0  1.0  162    59   41        1
14  0.0  0.0  1.0  167    62   55        1
15  1.0  0.0  0.0  174    70   47        0
16  1.0  0.0  0.0  193    90   23        0
17  1.0  0.0  0.0  187    80   27        0
18  1.0  0.0  0.0  183    88   28        0
19  1.0  0.0  0.0  159    40   29        1
20  1.0  0.0  0.0  164    66   32        1
21  1.0  0.0  0.0  166    56   42        1

In [48]:
boy=s2.iloc[:,3:4].values

In [53]:
boy

array([[130],
       [125],
       [135],
       [133],
       [129],
       [180],
       [190],
       [175],
       [177],
       [185],
       [165],
       [155],
       [160],
       [162],
       [167],
       [174],
       [193],
       [187],
       [183],
       [159],
       [164],
       [166]])

In [54]:
type(boy)

numpy.ndarray

In [50]:
sol=s2.iloc[:,:3]
sol

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [52]:
sag=s2.iloc[:,4:]
sag

    kilo  yas cinsiyet
0     30   10        0
1     36   11        0
2     34   10        1
3     30    9        1
4     38   12        0
5     90   30        0
6     80   25        0
7     90   35        0
8     60   22        1
9    105   33        0
10    55   27        1
11    50   44        1
12    58   39        1
13    59   41        1
14    62   55        1
15    70   47        0
16    90   23        0
17    80   27        0
18    88   28        0
19    40   29        1
20    66   32        1
21    56   42        1

In [55]:
veri=pd.concat([sag,sol],axis=1)
veri

    kilo  yas cinsiyet   fr   tr   us
0     30   10        0  0.0  1.0  0.0
1     36   11        0  0.0  1.0  0.0
2     34   10        1  0.0  1.0  0.0
3     30    9        1  0.0  1.0  0.0
4     38   12        0  0.0  1.0  0.0
5     90   30        0  0.0  1.0  0.0
6     80   25        0  0.0  1.0  0.0
7     90   35        0  0.0  1.0  0.0
8     60   22        1  0.0  1.0  0.0
9    105   33        0  0.0  0.0  1.0
10    55   27        1  0.0  0.0  1.0
11    50   44        1  0.0  0.0  1.0
12    58   39        1  0.0  0.0  1.0
13    59   41        1  0.0  0.0  1.0
14    62   55        1  0.0  0.0  1.0
15    70   47        0  1.0  0.0  0.0
16    90   23        0  1.0  0.0  0.0
17    80   27        0  1.0  0.0  0.0
18    88   28        0  1.0  0.0  0.0
19    40   29        1  1.0  0.0  0.0
20    66   32        1  1.0  0.0  0.0
21    56   42        1  1.0  0.0  0.0

In [56]:
x_train, x_test,y_train,y_test = train_test_split(veri,boy,test_size=0.33, random_state=0)

In [57]:
x_train

    kilo  yas cinsiyet   fr   tr   us
8     60   22        1  0.0  1.0  0.0
6     80   25        0  0.0  1.0  0.0
16    90   23        0  1.0  0.0  0.0
4     38   12        0  0.0  1.0  0.0
2     34   10        1  0.0  1.0  0.0
5     90   30        0  0.0  1.0  0.0
17    80   27        0  1.0  0.0  0.0
9    105   33        0  0.0  0.0  1.0
7     90   35        0  0.0  1.0  0.0
18    88   28        0  1.0  0.0  0.0
3     30    9        1  0.0  1.0  0.0
0     30   10        0  0.0  1.0  0.0
15    70   47        0  1.0  0.0  0.0
12    58   39        1  0.0  0.0  1.0

In [58]:
y_train

array([[177],
       [190],
       [193],
       [129],
       [135],
       [180],
       [187],
       [185],
       [175],
       [183],
       [133],
       [130],
       [174],
       [160]])

In [59]:
type(y_train)

numpy.ndarray

In [60]:
y_test

array([[164],
       [165],
       [167],
       [162],
       [125],
       [166],
       [155],
       [159]])

In [61]:
r2=LinearRegression()

In [62]:
r2.fit(x_train,y_train)

LinearRegression()

In [64]:
r2.predict(x_test)

array([[182.26638686],
       [152.87161474],
       [162.79386375],
       [158.30668577],
       [130.82888952],
       [173.96138408],
       [150.12782663],
       [157.26898922]])

In [65]:
y_test

array([[164],
       [165],
       [167],
       [162],
       [125],
       [166],
       [155],
       [159]])

In [66]:
# backward elemination

In [68]:
import statsmodels.api as sm

In [71]:
X=np.append(arr=np.ones((22,1)).astype(int),values=veri,axis=1)

In [73]:
X
#en başa birlerden oluşan bir dizi eklendi

array([[1, 30, 10, 0, 0.0, 1.0, 0.0],
       [1, 36, 11, 0, 0.0, 1.0, 0.0],
       [1, 34, 10, 1, 0.0, 1.0, 0.0],
       [1, 30, 9, 1, 0.0, 1.0, 0.0],
       [1, 38, 12, 0, 0.0, 1.0, 0.0],
       [1, 90, 30, 0, 0.0, 1.0, 0.0],
       [1, 80, 25, 0, 0.0, 1.0, 0.0],
       [1, 90, 35, 0, 0.0, 1.0, 0.0],
       [1, 60, 22, 1, 0.0, 1.0, 0.0],
       [1, 105, 33, 0, 0.0, 0.0, 1.0],
       [1, 55, 27, 1, 0.0, 0.0, 1.0],
       [1, 50, 44, 1, 0.0, 0.0, 1.0],
       [1, 58, 39, 1, 0.0, 0.0, 1.0],
       [1, 59, 41, 1, 0.0, 0.0, 1.0],
       [1, 62, 55, 1, 0.0, 0.0, 1.0],
       [1, 70, 47, 0, 1.0, 0.0, 0.0],
       [1, 90, 23, 0, 1.0, 0.0, 0.0],
       [1, 80, 27, 0, 1.0, 0.0, 0.0],
       [1, 88, 28, 0, 1.0, 0.0, 0.0],
       [1, 40, 29, 1, 1.0, 0.0, 0.0],
       [1, 66, 32, 1, 1.0, 0.0, 0.0],
       [1, 56, 42, 1, 1.0, 0.0, 0.0]], dtype=object)

In [76]:
X_l=veri.iloc[:,[0,1,2,3,4,5]].values

In [77]:
X_l

array([[30, 10, 0, 0.0, 1.0, 0.0],
       [36, 11, 0, 0.0, 1.0, 0.0],
       [34, 10, 1, 0.0, 1.0, 0.0],
       [30, 9, 1, 0.0, 1.0, 0.0],
       [38, 12, 0, 0.0, 1.0, 0.0],
       [90, 30, 0, 0.0, 1.0, 0.0],
       [80, 25, 0, 0.0, 1.0, 0.0],
       [90, 35, 0, 0.0, 1.0, 0.0],
       [60, 22, 1, 0.0, 1.0, 0.0],
       [105, 33, 0, 0.0, 0.0, 1.0],
       [55, 27, 1, 0.0, 0.0, 1.0],
       [50, 44, 1, 0.0, 0.0, 1.0],
       [58, 39, 1, 0.0, 0.0, 1.0],
       [59, 41, 1, 0.0, 0.0, 1.0],
       [62, 55, 1, 0.0, 0.0, 1.0],
       [70, 47, 0, 1.0, 0.0, 0.0],
       [90, 23, 0, 1.0, 0.0, 0.0],
       [80, 27, 0, 1.0, 0.0, 0.0],
       [88, 28, 0, 1.0, 0.0, 0.0],
       [40, 29, 1, 1.0, 0.0, 0.0],
       [66, 32, 1, 1.0, 0.0, 0.0],
       [56, 42, 1, 1.0, 0.0, 0.0]], dtype=object)

In [78]:
X_l=np.array(X_l,dtype=float)

In [79]:
X_l

array([[ 30.,  10.,   0.,   0.,   1.,   0.],
       [ 36.,  11.,   0.,   0.,   1.,   0.],
       [ 34.,  10.,   1.,   0.,   1.,   0.],
       [ 30.,   9.,   1.,   0.,   1.,   0.],
       [ 38.,  12.,   0.,   0.,   1.,   0.],
       [ 90.,  30.,   0.,   0.,   1.,   0.],
       [ 80.,  25.,   0.,   0.,   1.,   0.],
       [ 90.,  35.,   0.,   0.,   1.,   0.],
       [ 60.,  22.,   1.,   0.,   1.,   0.],
       [105.,  33.,   0.,   0.,   0.,   1.],
       [ 55.,  27.,   1.,   0.,   0.,   1.],
       [ 50.,  44.,   1.,   0.,   0.,   1.],
       [ 58.,  39.,   1.,   0.,   0.,   1.],
       [ 59.,  41.,   1.,   0.,   0.,   1.],
       [ 62.,  55.,   1.,   0.,   0.,   1.],
       [ 70.,  47.,   0.,   1.,   0.,   0.],
       [ 90.,  23.,   0.,   1.,   0.,   0.],
       [ 80.,  27.,   0.,   1.,   0.,   0.],
       [ 88.,  28.,   0.,   1.,   0.,   0.],
       [ 40.,  29.,   1.,   1.,   0.,   0.],
       [ 66.,  32.,   1.,   1.,   0.,   0.],
       [ 56.,  42.,   1.,   1.,   0.,   0.]])

In [80]:
model=sm.OLS(boy,X_l).fit()
#bağımsız değişkenlerin bağımlı değişkenler üzerindeki etkilerini ölçüyoruz

In [81]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           5.41e-07
Time:                        23:00:04   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.9211      0.119      7.737      0.000       0.669       1.174
x2             0.0814      0.221      0.369      0.717      -0.386       0.549
x3            10.5980      5.052      2.098      0.052      -0.112      21.308
x4           103.4708      9.878     10.475      0.000      82.530     124.412
x5            97.7050      7.463     13.091      0.000      81.883     113.527
x6            93.8734     11.312      8.298      0.000      69.892     117.855
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                         678.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [82]:
# bu doğrultuda en yüksek p value değerine sahip olanı eleyeceğzi

In [84]:
X_l=veri.iloc[:,[0,2,3,4,5]].values
X_l=np.array(X_l,dtype=float)
model=sm.OLS(boy,X_l).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           9.32e-08
Time:                        23:03:33   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.9405      0.104      9.029      0.000       0.721       1.160
x2            11.1093      4.733      2.347      0.031       1.123      21.096
x3           104.5490      9.193     11.373      0.000      85.153     123.944
x4            97.9693      7.238     13.536      0.000      82.699     113.240
x5            95.4352     10.220      9.338      0.000      73.873     116.998
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         596.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [85]:
X_l=veri.iloc[:,[0,3,4,5]].values
X_l=np.array(X_l,dtype=float)
model=sm.OLS(boy,X_l).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.847
Model:                            OLS   Adj. R-squared:                  0.821
Method:                 Least Squares   F-statistic:                     33.16
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           1.52e-07
Time:                        23:04:21   Log-Likelihood:                -77.131
No. Observations:                  22   AIC:                             162.3
Df Residuals:                      18   BIC:                             166.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.7904      0.092      8.595      0.000       0.597       0.984
x2           119.8136      7.265     16.491      0.000     104.550     135.077
x3           109.8084      5.804     18.919      0.000      97.615     122.002
x4           114.4212      6.984     16.382      0.000      99.747     129.095
==============================================================================
Omnibus:                        2.925   Durbin-Watson:                   2.855
Prob(Omnibus):                  0.232   Jarque-Bera (JB):                1.499
Skew:                           0.605   Prob(JB):                        0.473
Kurtosis:                       3.416   Cond. No.                         369.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""