In [120]:
#veri önişleme
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [121]:
veriler = pd.read_csv("veriler.csv")
print(veriler)

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [122]:
boy = veriler[["boy"]]
print(boy)

    boy
0   130
1   125
2   135
3   133
4   129
5   180
6   190
7   175
8   177
9   185
10  165
11  155
12  160
13  162
14  167
15  174
16  193
17  187
18  183
19  159
20  164
21  166

In [123]:
print(veriler[["ulke","cinsiyet"]])

   ulke cinsiyet
0    tr        e
1    tr        e
2    tr        k
3    tr        k
4    tr        e
5    tr        e
6    tr        e
7    tr        e
8    tr        k
9    us        e
10   us        k
11   us        k
12   us        k
13   us        k
14   us        k
15   fr        e
16   fr        e
17   fr        e
18   fr        e
19   fr        k
20   fr        k
21   fr        k

In [124]:
#python nesneye yönelimli programlama

In [125]:
class insan:
    boy=180
    def hesapla(self,b):
        return b+10
    
    
ali = insan()

In [126]:
print(ali.boy)

180

In [127]:
print(ali.hesapla(10))

20

In [128]:
l = [1,2,3]
l
#bir liste tanımlanması

[1, 2, 3]

In [129]:
#eksik veriler bölümü

In [130]:
eksikveriler = pd.read_csv("eksikveriler.csv")

In [131]:
eksikveriler

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

In [132]:
eksikverileryas = np.mean(eksikveriler[["yas"]])

/Users/mehmetakifkiraz/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [133]:
eksikverileryas

yas    28.45
dtype: float64

In [134]:
from sklearn.impute import SimpleImputer

In [135]:
# burada SimpleImputer yapısının constructor yapısını atıyorum
imputer = SimpleImputer(missing_values=np.nan,strategy="mean")

In [136]:
imputer

SimpleImputer()

In [137]:
#amacımız Nan olan değerleri ortalama ile tamamlamak

In [138]:
Yas = eksikveriler.iloc[:,1:4].values
Yas

array([[130.,  30.,  10.],
       [125.,  36.,  11.],
       [135.,  34.,  10.],
       [133.,  30.,   9.],
       [129.,  38.,  12.],
       [180.,  90.,  30.],
       [190.,  80.,  25.],
       [175.,  90.,  35.],
       [177.,  60.,  22.],
       [185., 105.,  33.],
       [165.,  55.,  27.],
       [155.,  50.,  44.],
       [160.,  58.,  nan],
       [162.,  59.,  41.],
       [167.,  62.,  55.],
       [174.,  70.,  47.],
       [193.,  90.,  nan],
       [187.,  80.,  27.],
       [183.,  88.,  28.],
       [159.,  40.,  29.],
       [164.,  66.,  32.],
       [166.,  56.,  42.]])

In [139]:
#fit fonksiyonu eğitmek için kullanılır 1'den 4'e kadar olan kolonları öğrenmesini söylüyoruz.
Yas[:,1:4]

array([[ 30.,  10.],
       [ 36.,  11.],
       [ 34.,  10.],
       [ 30.,   9.],
       [ 38.,  12.],
       [ 90.,  30.],
       [ 80.,  25.],
       [ 90.,  35.],
       [ 60.,  22.],
       [105.,  33.],
       [ 55.,  27.],
       [ 50.,  44.],
       [ 58.,  nan],
       [ 59.,  41.],
       [ 62.,  55.],
       [ 70.,  47.],
       [ 90.,  nan],
       [ 80.,  27.],
       [ 88.,  28.],
       [ 40.,  29.],
       [ 66.,  32.],
       [ 56.,  42.]])

In [140]:
imputer = imputer.fit(Yas[:,1:4])
imputer

SimpleImputer()

In [141]:
# fit ile öğretip transform ile kullanmasını söylüyoruz

In [142]:
Yas[:,1:4] = imputer.transform(Yas[:,1:4])
# ortalama ile değiştirme yapıyoruz değitirilen değerleride 1 ve 4. kolonlar arasına koyuyoruz

In [143]:
Yas

array([[130.  ,  30.  ,  10.  ],
       [125.  ,  36.  ,  11.  ],
       [135.  ,  34.  ,  10.  ],
       [133.  ,  30.  ,   9.  ],
       [129.  ,  38.  ,  12.  ],
       [180.  ,  90.  ,  30.  ],
       [190.  ,  80.  ,  25.  ],
       [175.  ,  90.  ,  35.  ],
       [177.  ,  60.  ,  22.  ],
       [185.  , 105.  ,  33.  ],
       [165.  ,  55.  ,  27.  ],
       [155.  ,  50.  ,  44.  ],
       [160.  ,  58.  ,  28.45],
       [162.  ,  59.  ,  41.  ],
       [167.  ,  62.  ,  55.  ],
       [174.  ,  70.  ,  47.  ],
       [193.  ,  90.  ,  28.45],
       [187.  ,  80.  ,  27.  ],
       [183.  ,  88.  ,  28.  ],
       [159.  ,  40.  ,  29.  ],
       [164.  ,  66.  ,  32.  ],
       [166.  ,  56.  ,  42.  ]])

In [144]:
veriler

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [145]:
ulke = eksikveriler.iloc[:,0:1].values
ulke

array([['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr']], dtype=object)

In [146]:
from sklearn import preprocessing

In [147]:
le = preprocessing.LabelEncoder()

In [148]:
le

LabelEncoder()

In [149]:
ulke[:,0]

array(['tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'us', 'us',
       'us', 'us', 'us', 'us', 'fr', 'fr', 'fr', 'fr', 'fr', 'fr', 'fr'],
      dtype=object)

In [150]:
ulke[:,0] = le.fit_transform(veriler.iloc[:,0])

In [151]:
ulke

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]], dtype=object)

In [152]:
ohe = preprocessing.OneHotEncoder()

In [153]:
ulke = ohe.fit_transform(ulke).toarray()

In [154]:
ulke

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [155]:
sonuc = pd.DataFrame(data=ulke, index = range(22), columns=["fr","tr","us"])

In [156]:
sonuc

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [157]:
sonuc2 = pd.DataFrame(data = Yas, index = range(22), columns = ["boy","kilo","yas"])
sonuc2

      boy   kilo    yas
0   130.0   30.0  10.00
1   125.0   36.0  11.00
2   135.0   34.0  10.00
3   133.0   30.0   9.00
4   129.0   38.0  12.00
5   180.0   90.0  30.00
6   190.0   80.0  25.00
7   175.0   90.0  35.00
8   177.0   60.0  22.00
9   185.0  105.0  33.00
10  165.0   55.0  27.00
11  155.0   50.0  44.00
12  160.0   58.0  28.45
13  162.0   59.0  41.00
14  167.0   62.0  55.00
15  174.0   70.0  47.00
16  193.0   90.0  28.45
17  187.0   80.0  27.00
18  183.0   88.0  28.00
19  159.0   40.0  29.00
20  164.0   66.0  32.00
21  166.0   56.0  42.00

In [158]:
cinsiyet = eksikveriler.iloc[:,-1].values
cinsiyet

array(['e', 'e', 'k', 'k', 'e', 'e', 'e', 'e', 'k', 'e', 'k', 'k', 'k',
       'k', 'k', 'e', 'e', 'e', 'e', 'k', 'k', 'k'], dtype=object)

In [159]:
sonuc3 = pd.DataFrame(data = cinsiyet, index = range(22), columns=["cinsiyet"])
sonuc3

   cinsiyet
0         e
1         e
2         k
3         k
4         e
5         e
6         e
7         e
8         k
9         e
10        k
11        k
12        k
13        k
14        k
15        e
16        e
17        e
18        e
19        k
20        k
21        k

In [160]:
s = pd.concat([sonuc,sonuc2])

In [161]:
s

     fr   tr   us    boy   kilo    yas
0   0.0  1.0  0.0    NaN    NaN    NaN
1   0.0  1.0  0.0    NaN    NaN    NaN
2   0.0  1.0  0.0    NaN    NaN    NaN
3   0.0  1.0  0.0    NaN    NaN    NaN
4   0.0  1.0  0.0    NaN    NaN    NaN
5   0.0  1.0  0.0    NaN    NaN    NaN
6   0.0  1.0  0.0    NaN    NaN    NaN
7   0.0  1.0  0.0    NaN    NaN    NaN
8   0.0  1.0  0.0    NaN    NaN    NaN
9   0.0  0.0  1.0    NaN    NaN    NaN
10  0.0  0.0  1.0    NaN    NaN    NaN
11  0.0  0.0  1.0    NaN    NaN    NaN
12  0.0  0.0  1.0    NaN    NaN    NaN
13  0.0  0.0  1.0    NaN    NaN    NaN
14  0.0  0.0  1.0    NaN    NaN    NaN
15  1.0  0.0  0.0    NaN    NaN    NaN
16  1.0  0.0  0.0    NaN    NaN    NaN
17  1.0  0.0  0.0    NaN    NaN    NaN
18  1.0  0.0  0.0    NaN    NaN    NaN
19  1.0  0.0  0.0    NaN    NaN    NaN
20  1.0  0.0  0.0    NaN    NaN    NaN
21  1.0  0.0  0.0    NaN    NaN    NaN
0   NaN  NaN  NaN  130.0   30.0  10.00
1   NaN  NaN  NaN  125.0   36.0  11.00
2   NaN  NaN  NaN  135.0   34.0  10.00
3   NaN  NaN  NaN  133.0   30.0   9.00
4   NaN  NaN  NaN  129.0   38.0  12.00
5   NaN  NaN  NaN  180.0   90.0  30.00
6   NaN  NaN  NaN  190.0   80.0  25.00
7   NaN  NaN  NaN  175.0   90.0  35.00
8   NaN  NaN  NaN  177.0   60.0  22.00
9   NaN  NaN  NaN  185.0  105.0  33.00
10  NaN  NaN  NaN  165.0   55.0  27.00
11  NaN  NaN  NaN  155.0   50.0  44.00
12  NaN  NaN  NaN  160.0   58.0  28.45
13  NaN  NaN  NaN  162.0   59.0  41.00
14  NaN  NaN  NaN  167.0   62.0  55.00
15  NaN  NaN  NaN  174.0   70.0  47.00
16  NaN  NaN  NaN  193.0   90.0  28.45
17  NaN  NaN  NaN  187.0   80.0  27.00
18  NaN  NaN  NaN  183.0   88.0  28.00
19  NaN  NaN  NaN  159.0   40.0  29.00
20  NaN  NaN  NaN  164.0   66.0  32.00
21  NaN  NaN  NaN  166.0   56.0  42.00

In [162]:
d = pd.concat([sonuc,sonuc2],axis = 1)
d

     fr   tr   us    boy   kilo    yas
0   0.0  1.0  0.0  130.0   30.0  10.00
1   0.0  1.0  0.0  125.0   36.0  11.00
2   0.0  1.0  0.0  135.0   34.0  10.00
3   0.0  1.0  0.0  133.0   30.0   9.00
4   0.0  1.0  0.0  129.0   38.0  12.00
5   0.0  1.0  0.0  180.0   90.0  30.00
6   0.0  1.0  0.0  190.0   80.0  25.00
7   0.0  1.0  0.0  175.0   90.0  35.00
8   0.0  1.0  0.0  177.0   60.0  22.00
9   0.0  0.0  1.0  185.0  105.0  33.00
10  0.0  0.0  1.0  165.0   55.0  27.00
11  0.0  0.0  1.0  155.0   50.0  44.00
12  0.0  0.0  1.0  160.0   58.0  28.45
13  0.0  0.0  1.0  162.0   59.0  41.00
14  0.0  0.0  1.0  167.0   62.0  55.00
15  1.0  0.0  0.0  174.0   70.0  47.00
16  1.0  0.0  0.0  193.0   90.0  28.45
17  1.0  0.0  0.0  187.0   80.0  27.00
18  1.0  0.0  0.0  183.0   88.0  28.00
19  1.0  0.0  0.0  159.0   40.0  29.00
20  1.0  0.0  0.0  164.0   66.0  32.00
21  1.0  0.0  0.0  166.0   56.0  42.00

In [163]:
d2 = pd.concat([d,sonuc3],axis = 1)
d2

     fr   tr   us    boy   kilo    yas cinsiyet
0   0.0  1.0  0.0  130.0   30.0  10.00        e
1   0.0  1.0  0.0  125.0   36.0  11.00        e
2   0.0  1.0  0.0  135.0   34.0  10.00        k
3   0.0  1.0  0.0  133.0   30.0   9.00        k
4   0.0  1.0  0.0  129.0   38.0  12.00        e
5   0.0  1.0  0.0  180.0   90.0  30.00        e
6   0.0  1.0  0.0  190.0   80.0  25.00        e
7   0.0  1.0  0.0  175.0   90.0  35.00        e
8   0.0  1.0  0.0  177.0   60.0  22.00        k
9   0.0  0.0  1.0  185.0  105.0  33.00        e
10  0.0  0.0  1.0  165.0   55.0  27.00        k
11  0.0  0.0  1.0  155.0   50.0  44.00        k
12  0.0  0.0  1.0  160.0   58.0  28.45        k
13  0.0  0.0  1.0  162.0   59.0  41.00        k
14  0.0  0.0  1.0  167.0   62.0  55.00        k
15  1.0  0.0  0.0  174.0   70.0  47.00        e
16  1.0  0.0  0.0  193.0   90.0  28.45        e
17  1.0  0.0  0.0  187.0   80.0  27.00        e
18  1.0  0.0  0.0  183.0   88.0  28.00        e
19  1.0  0.0  0.0  159.0   40.0  29.00        k
20  1.0  0.0  0.0  164.0   66.0  32.00        k
21  1.0  0.0  0.0  166.0   56.0  42.00        k

In [165]:
#veriyi train ve test olarak bölmek için import ediyoruz
from sklearn.model_selection import train_test_split

In [166]:
x_train, x_test, y_train, y_test = train_test_split(d,sonuc3,test_size=0.33,random_state=0)

In [167]:
x_train.shape

(14, 6)

In [168]:
x_test.shape

(8, 6)

In [169]:
y_train.shape

(14, 1)

In [170]:
y_test.shape

(8, 1)

In [171]:
y_test

   cinsiyet
20        k
10        k
14        k
13        k
1         e
21        k
11        k
19        k

In [172]:
x_test

     fr   tr   us    boy  kilo   yas
20  1.0  0.0  0.0  164.0  66.0  32.0
10  0.0  0.0  1.0  165.0  55.0  27.0
14  0.0  0.0  1.0  167.0  62.0  55.0
13  0.0  0.0  1.0  162.0  59.0  41.0
1   0.0  1.0  0.0  125.0  36.0  11.0
21  1.0  0.0  0.0  166.0  56.0  42.0
11  0.0  0.0  1.0  155.0  50.0  44.0
19  1.0  0.0  0.0  159.0  40.0  29.0

In [173]:
from sklearn.preprocessing import StandardScaler

In [174]:
#burada constructor yapısının atamasını yapıyoruz
sc = StandardScaler()

In [175]:
sc

StandardScaler()

In [176]:
X_train = sc.fit_transform(x_train)

In [177]:
x_train

     fr   tr   us    boy   kilo    yas
8   0.0  1.0  0.0  177.0   60.0  22.00
6   0.0  1.0  0.0  190.0   80.0  25.00
16  1.0  0.0  0.0  193.0   90.0  28.45
4   0.0  1.0  0.0  129.0   38.0  12.00
2   0.0  1.0  0.0  135.0   34.0  10.00
5   0.0  1.0  0.0  180.0   90.0  30.00
17  1.0  0.0  0.0  187.0   80.0  27.00
9   0.0  0.0  1.0  185.0  105.0  33.00
7   0.0  1.0  0.0  175.0   90.0  35.00
18  1.0  0.0  0.0  183.0   88.0  28.00
3   0.0  1.0  0.0  133.0   30.0   9.00
0   0.0  1.0  0.0  130.0   30.0  10.00
15  1.0  0.0  0.0  174.0   70.0  47.00
12  0.0  0.0  1.0  160.0   58.0  28.45

In [178]:
X_train

array([[-0.63245553,  0.8660254 , -0.40824829,  0.45049444, -0.29657884,
        -0.24717129],
       [-0.63245553,  0.8660254 , -0.40824829,  1.00824945,  0.5096549 ,
         0.03416189],
       [ 1.58113883, -1.15470054, -0.40824829,  1.13696215,  0.91277178,
         0.35769504],
       [-0.63245553,  0.8660254 , -0.40824829, -1.6089087 , -1.18343596,
        -1.18494855],
       [-0.63245553,  0.8660254 , -0.40824829, -1.35148331, -1.34468271,
        -1.372504  ],
       [-0.63245553,  0.8660254 , -0.40824829,  0.57920713,  0.91277178,
         0.50305051],
       [ 1.58113883, -1.15470054, -0.40824829,  0.87953676,  0.5096549 ,
         0.22171734],
       [-0.63245553, -1.15470054,  2.44948974,  0.79372829,  1.51744708,
         0.78438369],
       [-0.63245553,  0.8660254 , -0.40824829,  0.36468597,  0.91277178,
         0.97193914],
       [ 1.58113883, -1.15470054, -0.40824829,  0.70791983,  0.8321484 ,
         0.31549506],
       [-0.63245553,  0.8660254 , -0.40824829, -1.43729177, -1.50592946,
        -1.46628173],
       [-0.63245553,  0.8660254 , -0.40824829, -1.56600447, -1.50592946,
        -1.372504  ],
       [ 1.58113883, -1.15470054, -0.40824829,  0.32178174,  0.10653803,
         2.09727185],
       [-0.63245553, -1.15470054,  2.44948974, -0.27887751, -0.37720222,
         0.35769504]])

In [179]:
X_test = sc.fit_transform(x_test)

In [180]:
X_test

array([[ 1.29099445, -0.37796447, -1.        ,  0.47240026,  1.32853794,
        -0.24991255],
       [-0.77459667, -0.37796447,  1.        ,  0.54952683,  0.20439045,
        -0.64977262],
       [-0.77459667, -0.37796447,  1.        ,  0.70377998,  0.91975703,
         1.58944379],
       [-0.77459667, -0.37796447,  1.        ,  0.31814711,  0.61317136,
         0.46983559],
       [-0.77459667,  2.64575131, -1.        , -2.53553608, -1.73731884,
        -1.92932485],
       [ 1.29099445, -0.37796447, -1.        ,  0.6266534 ,  0.30658568,
         0.5498076 ],
       [-0.77459667, -0.37796447,  1.        , -0.2217389 , -0.30658568,
         0.70975163],
       [ 1.29099445, -0.37796447, -1.        ,  0.08676739, -1.32853794,
        -0.48982859]])

In [182]:
list(range(22))
#belirli aralıkta veri üretir

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]